*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: wheat;
color: #61122F;
}
body{
	background-color: #61122F;
	color:whitesmoke;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: rgb(43, 42, 42);

}
.container
{
	background-color: rgb(77, 76, 76);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}